/* Coolors Exported Palette - coolors.co/010001-2b0504-fddd02-2f2d29-874000 */

/* HSL */


/* RGB */
$color1: rgba(1, 0, 1, 1);
$color2: rgba(43, 5, 4, 1);
$color3: rgba(253, 221, 2, 1);
$color4: rgba(47, 45, 41, 1);
$color5: rgba(135, 64, 0, 1);